/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("./components/images/background.jpg");
  background-color: #7c94c1;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

span {
  font-weight: bold;
}

nav {
  background: linear-gradient(to bottom right, #103ce9, #92cffb);
  padding: 1.5em;
  text-align: center;
}

nav h1 {
  font-size: 45px;
}

nav a:hover {
  color: #103ce9;
}

a {
  color: #103ce9;
  text-decoration: none;
}

a:hover {
  color: #800080;
}

nav a {
  color: white;
}

.Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Home h1 {
  color: white;
  text-shadow: 1px 1px 2px #ff0000, 0 0 1em #0000ff, 0 0 0.2em #0000ff;
}

.Home div {
  margin: 2em;
  text-align: center;
}

.Home img {
  width: 250px;
}

.Index {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.inner {
  color: #216fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1em;

}

.all-apps {
  display: flex;
  align-content: flex-start;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.app-card {
  display: flex;
  align-items: center;
  background-color: #9cd5fd;
  border-radius: 20px;
  box-shadow: 6px 6px 10px 0px #474747cc;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  height: 200px;
  width: 180px;
}

.app-card img {
  border-radius: 15px;
  width: 100px;
  color: white;
  margin-top: 25px;
}

.app-detail {
  display: flex;
  flex-direction: row;
  background-color: #9cd5fd;
  border-radius: 20px;
  box-shadow: 6px 6px 10px 0px #474747cc;
  color: white;
  margin: auto;
  padding: 1.2em 0 1.2em 0;
  width: 50%;
}

.app-detail img {
  width: 150px;
  border-radius: 18px;
  margin: 0 2em 0 3em;
}

.image {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 2em;
  width: 50%;
}

input[type="submit"], button {
  background-color: #92cffb;
  border: none;
  border-radius: 8px;
  box-shadow: 6px 6px 10px 0px #474747cc;
  color: #216fff;
  font-weight: bold;
  padding: 0.7em 2em 0.7em 2em;
}

input[type="submit"] {
  width: 25%;
  background-color: white;
}

input[type="submit"]:hover, button:hover {
  color: #800080;
  cursor: pointer;
}

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  color: #ff0000;
}

.not-found img {
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px #474747cc;
  width: 250px;
}

.NewEdit {
  /* padding-left: 5em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: auto;
  width: 70%;
  /* padding-top: 5px; */
}

form {
  background-color: #9cd5fd;
  border-radius: 18px;
  box-shadow: 6px 6px 10px 0px #474747cc;
  font-weight: bold;
  margin: auto;
  margin: 0 0 2em 0;
  /* margin-bottom: 2em; */
  padding: 2.5em 1.5em 1.5em 2.5em;
  width: 95%;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
  width: 90%;
}

input[type="checkbox"] {
  margin: 0;
  width: 25%;
}

footer {
  color: white;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  right: 1%;
}
